@import "./JetBrains-Mono.css";

/**********/
/** BASE **/
/**********/


:root{
    --link:    #e59152;
    --linkh:   #a46637;
    --linkv:   #704d36;
    --li:      #876e54;
    --key2:    #5e4d3b;
    --main2:   #563518;
    --main:    #422710;
    --fa:      #aa4422;
    --border:  #888888;
    --back:    #f6f1ea;
    --bborder: var(--linkh);
}


body {
    margin: 0;
    padding: 0;
/* <<<<<<< HEAD:css/style.css
    background : #563518;
    font-family: "JetBrains Mono", sans-serif;
    font-size: 13px;
    color: #422710;
    display: flex;
    align-items: center;
    justify-content: center;
}

#global {
  width: 50%;
  margin-top: 2vh;
  height: 95vh;
  background: #f6f1ea;
======= */
    background: var(--back);
    font-family: "JetBrains Mono", sans-serif;
    font-size: 13px;
    color: var(--main);
}

pre {
    font-family: "JetBrains Mono", sans-serif;
}

small {
    color: var(--main2);
    font-family: "JetBrains Mono", serif;
}

h1 {
    font-size: 25px;
    /* text-align: left; */
}

h2 {
    margin: 20px 30px;
    border-bottom: 2px solid var(--border);
    font-size: 21px;
}

h3 {
    margin: 20px 60px;
    color: var(--border);
    border-bottom:1px solid var(--border);
    font-size: 18px;
}

h4 {
    margin-top: 15px;
    margin-bottom:5px;
    padding-left:10%;
    font-size:15px;
}

pre.quine {
    margin-top: 5%;
}

a {
    color: var(--link);
    text-decoration:none;
    font-weight:bold;
}

a:link {
    color: var(--link);
}

a:visited {
    color: var(--linkv);
}

a:hover {
    color: var(--linkh);
    text-decoration: underline;
}

ul {
    /* padding: 0; */
}

button {
  border: none;
  color: var(--back);
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: var(--back); 
  color: var(--linkh); 
  border: 2px solid var(--bborder);
}


button:hover {
  background-color: var(--bborder);
  color: white;
}

/*************/
/** CLASSES **/
/*************/

li.main, i {
    color: var(--li);
}

.fa:hover {
    color: var(--fa);
}

.title_name {
    font-size: 30px;
    text-align: center;
    width: 44%;
}

.key {
    text-decoration:none;
    font-weight:bold;
    color: var(--linkv);
}

.key2 {
    font-weight:bolder;
    color: var(--key2);
}

.center {
    flex-flow: column wrap;
    font-weight: bolder;
    text-align: center;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items:center;
}

