/*---------------------------------------------------------------------------*/
/*- base --------------------------------------------------------------------*/
/*---------------------------------------------------------------------------*/

:root{
    --brown1:  #422710;
    --brown2:  #563518;
    --brown3:  #b87834;
    --blue1:   #1d5d9b;
    --yellow2: #f4d160;
    --yellow1: #fbeeac;
    --blue2:   #002b5b;
    --grey1:   #96897b;
    --back:    #f9f5eb;
}

html {
    max-width: 840px;
    margin: auto;
    font-family: "Noto Sans", sans-serif;
}

body {
    margin: .5em;
    padding: 0;
    font-family: "Noto Sans", sans-serif;
    font-size: 18px;
    background: var(--back);
    color: var(--brown1);
}

p {
    margin: .2em 0;
}

h1 {
    letter-spacing: .1em;
    font-size: 1.6em;
    text-align: left;
    margin-bottom: .2em;
}

h2 {
    margin: 1em 0 .5em;
    border-bottom: 2px solid var(--brown1);
    font-size: 1.1em;
}

h3 {
    font-size: .9em;
    margin: .5em 0 .2em;
    color: var(--grey1);
    border-bottom: 1px solid var(--grey1);
}

a {
    color: var(--blue1);
    text-decoration: none;
    font-size: .95em;
}

a:visited {
    color: var(--blue2);
}

a:hover {
    color: var(--blue1);
    background-color: var(--yellow1);
}

ul {
  margin: .5em 0;
}

li {
  margin: .5em 0;
}

button {
  border: none;
  color: var(--back);
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: var(--back); 
  color: var(--blue1); 
  border: 2px solid var(--blue1);
}

button:hover {
  background-color: var(--blue1);
  color: white;
}

small {
    color: var(--brown2);
    font-family: "Source Code Pro";
}

/*---------------------------------------------------------------------------*/
/*- classes -----------------------------------------------------------------*/
/*---------------------------------------------------------------------------*/

.note {
    font-size: .9em;
    margin-top: 2ex;
}

.columns {
    display: flex;
    width: 100%;
    margin: auto;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.column {
    margin: 0 0 0 1em;
}

@media (max-width:810px){
    .columns {
        flex-direction: column;
    }
}

.keywords {
    margin: 0;
    padding-left: 0;
}

.sc {
    font-variant-caps: small-caps;
}

.date {
    font-size: 0.8em;
    color: var(--brown3);
    font-family: "Noto Sans", sans-serif;
    line-height: 2em;
}

@media (min-width:850px){
    .date {
        float: right;
    }
}

.separador {
  background-color: var(--grey1);
  height: 2px;
  max-width: 30px;
  margin: 30px auto 8px;
}

.footer {
    display: flex;
    justify-content: center;
    color: var(--grey1);
    font-size: 0.8em;
    padding-bottom: 5px;
}

.center {
    display: flex;
    justify-content: center;
}

.header {
    margin-top: 2ex;
}

/*---------------------------------------------------------------------------*/
/*- positional --------------------------------------------------------------*/
/*---------------------------------------------------------------------------*/

.keywords li {
    margin: 0 .2em 0 1.2em;
}

.header hr {
    margin: .2em 0;
}

ul.inline li {
    display: inline;
    padding: 10px 32px;
}

ul.inline > li > a {
    font-weight: normal;
    text-decoration: none;
}

ul.inline > li > a:hover {
    color: var(--blue1);
    background-color: var(--yellow1);
}

@media (max-width:810px){
    ul.inline li {
        padding: 10px 20px;
    }
}

@media (max-width:680px){
    ul.inline li {
        display: block;
        padding: 0px;
    }
}

.header a {
    font-weight: bold;
}

pre.quine {
    margin-top: 5%;
}

/*---------------------------------------------------------------------------*/
/*- EOF ---------------------------------------------------------------------*/
/*---------------------------------------------------------------------------*/
