@import "./JetBrains-Mono.css";

body {
    margin: 0;
    padding: 0;
    background: #f6f1ea;
    font-family: "JetBrains Mono", sans-serif;
    font-size: 13px;
    color: #422710;
    /* color: #723f0e; */
}

pre {
    font-family: "JetBrains Mono", sans-serif;
}

small {
    color: #563518;
    font-family: "JetBrains Mono", serif;
}

h1 {
    font-size: 25px;
    text-align: left;
}

h2 {
    margin: 20px 30px;
    border-bottom: 2px solid #888;
    font-size: 21px;
}

h3 {
    margin: 20px 60px;
    color: #888;
    border-bottom:1px solid #888;
    font-size: 18px;
}

h4 {
    margin-top: 15px;
    margin-bottom:5px;
    padding-left:1%;
    font-size:15px;
}

a {
    color: #e59152;
    text-decoration:none;
    font-weight:bold;
}

a:link {
    color: #e59152;
}

a:visited {
    color: #704d36;
}

a:hover {
    color: #a46637;
    text-decoration: underline;
}

.fa:hover {
    color: #a42;
}

.title_name {
    font-size: 30px;
    text-align: center;
    width: 44%;
}

.key {
    text-decoration:none;
    font-weight:bold;
    color: #704d36;
}

.key2 {
    font-weight:bolder;
    color: #5e4d3b;
}

ul {
    /* padding: 0; */
}

li.main, i {
    color: #876e54;
}
