{% extends 'layout.html' %}

{% block body %}

<h2>Enseignements IUT d'Orsay</h2>
<h3>BUT S1</h3>
<ul>
    <li>
        <a href="https://www.lri.fr/~fiorenzi/Teaching/BDAS/">Bases de données</a>
        <small> - Francesca Fiorenzi</small>
        <p>SGBD, modèle entité-association, PL/SQL, &hellip;</p>
    </li>
</ul>
<h3>BUT S2</h3>
<ul>
    <li>
        <a href="#">Qualité de développement</a>
        <small> - Hoang La</small>
        <p>Git, bonnes pratiques de programmation, tests unitaires, <i>debugging</i>, &hellip;</p>
    </li>
</ul>

<h2>Parcours</h2>
<ul>
    <li>
        <p> Magistère Informatique <span class="date">2020-2023</span> </p>
    </li>
    <li>
        <p>
            M2 « MPRI » : Master Parisien de Recherche en Informatique
            <small>(ENS Paris-Saclay)</small>
            <span class="date">2022-2023</span>
        </p>
    </li>
    <li>
        <div>
            M1 « MPRI » : Master Parisien de Recherche en Informatique
            <small>(Univ. Paris-Saclay)</small>
            <span class="date">2021-2022</span>
        </div>
    </li>
    <li><p>L1-L3 : Licence double diplôme maths/info
        <small>(Univ. Paris-Saclay)</small>
        <span class="date">2018-2021</span></p>
    </li>
</ul>

<h2>Recherche</h2>
<h3>Stages</h3>
<ul>
    <li>
        <p>
        <span class="sc">Coma</span> : langage intermédiaire pour la preuve déductive <a target="_blank" href="./pdfs/rapport-stage-M2.pdf"><i class="fa fa-file-pdf-o"></i></a> <small>(Filliâtre et Paskevich)</small>
        <span class="date">2023</span>
        </p>
    </li>
    <li>
        <p>
        <span class="sc">Gospel</span> : exhaustivité du filtrage <a target="_blank" href="./pdfs/rapport-stage-M1.pdf"><i class="fa fa-file-pdf-o"></i></a>
        <small>(Filliâtre et Pascutto)</small>
        <span class="date">2022</span>
        </p>
    </li>
    <li>
        <p>
        <span class="sc">Why3</span> : vérification de code Python <a target="_blank" href="./pdfs/rapport-stage-L3.pdf"><i class="fa fa-file-pdf-o"></i></a>
        <small>(Filliâtre et Paskevich)</small>
        <span class="date">2021</span>
        </p>
    </li>
</ul>

<h3>Présentations scientifiques</h3>
<ul>
    <li>
        <p>
        Congrès Junior Pluridisciplinaire : vulgarisation preuve de programmes <a target="_blank" href="./pdfs/congres.pdf"><i class="fa fa-file-pdf-o"></i></a>
        <span class="date">2023</span>
        </p>
    </li>
    <li>
        <p>
        Journées Scientifiques Digicosme : session poster <a target="_blank" href="./pdfs/poster-digicosme.pdf"><i class="fa fa-file-pdf-o"></i></a>
        <span class="date">2022</span>
        </p>
    </li>
</ul>

<h2>Projets</h2>
<ul>
    <li>
        <p>
        <span class="sc">Minipat</span> : générateur aléatoire de patterns <a href="./minipat.html"><i class="fa fa-github"></i></a>
        <span class="date">2022</span>
        </p>
    </li>
    <li>
        <p>
        <span class="sc">Kawa-compiler</span> : compilateur d'un mini langage objet <i>à la</i> Java <a href="https://github.com/paulpatault/kawa-compiler"><i class="fa fa-github"></i></a>
        <span class="date">2022</span>
        </p>
    </li>
    <li>
        <p>
        <span class="sc">Ocamlog</span> : bibliothèque de <i>log</i> <a href="https://github.com/paulpatault/ocamlog"><i class="fa fa-github"></i></a>
        <span class="date">2021</span>
        </p>
    </li>
    <li>
        <p>
        <span class="sc">Auto-demo</span> : <i>solver</i> de séquents <a href="https://github.com/paulpatault/auto-demo"><i class="fa fa-github"></i></a>
        <span class="date">2021</span>
        </p>
    </li>
    <li>
        <p>
        <span class="sc">Boids</span> : algorithme de la nature <a href="https://github.com/paulpatault/ocaml-boids"><i class="fa fa-github"></i></a>
        <span class="date">2020</span>
        </p>
    </li>
</ul>

<h2>Contact</h2>
<ul>
    <li>adresse électronique : <a href="mailto:paul.patault@ens-paris-saclay.fr">paul.patault<small> [at] </small>ens-paris-saclay<small> [dot] </small>fr</a></li>
</ul>

<h2>Divers</h2>
<ul class="inline">
    <li><a target="_blank" href="./pdfs/cv.pdf">CV <i class="fa fa-file-pdf-o"></i></a></li>
    <li><a target="_blank" href="https://www.github.com/paulpatault">Github <i class="fa fa-github"></i></a></li>
    <li><a target="_blank" href="https://www.linkedin.com/in/paul-patault-83a72a212/">Linkedin</a></li>
    <li><a target="_blank" href="https://www.senscritique.com/PaulPatault">SensCritique <i class="fa fa-film"></i></a></li>
    <li><a href="./envies.html">Envies <i class="fa fa-gift"></i></a></li>
    <li><a href="./quine.html">The Quine <i class="fa fa-refresh"></i></a></li>
</ul>

<div class="separador"></div>
<div class="footer">
    <p><a
            href="mailto:paul.patault@ens-paris-saclay.fr">paul.patault<small>[at]</small>ens-paris-saclay<small>[dot]</small>fr</a>
        &nbsp; © 2023</p>
</div>
{% endblock %}
