<!DOCTYPE html>

<html lang="fr">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="keywords"
        content="Paul Patault, Patault, PhD, computer science, doctorat, informatique, méthodes formelles">
    <link rel="stylesheet" type="text/css" href="./css/style.css?version=3" title="Normal">
    <link rel="Shortcut Icon" href="imgs/let.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <title>Paul Patault</title>
    <meta name="description" content="Étudiant en M2 MPRI et magistère informatique">
</head>

<body>
    <div class="header columns">
        <div class="column">
            <h1>Paul PATAULT</h1>
            <hr />
            <p class="note">I am a PhD student since September 2023 under the supervision of <a target="_blank" href="https://www.lri.fr/~filliatr/">Jean-Christophe Filliâtre</a> and <a target="_blank" href="http://www.tertium.org/index.html">Andrei Paskevich</a> in the Proof of Programs team of the <a target="_blank" href="https://lmf.cnrs.fr/Main/HomePage?lang=en">Laboratoire Méthodes Formelles (LMF)</a>.</p>
            <p class="note">
            I am interested in programming languages, deductive verification and formal methods.
            </p>
            <p class="note">
            You can find a detailed summary of my subject following <a target="_blank" href="https://theses.fr/s368233">this link</a>.
            </p>
            <p class="note">
            And here is my <a target="_blank" href="https://theses.fr/s368233">CV</a>.
            </p>
        
        </div>
        <div class="column"> </div>
        <div class="column">
            <img src="imgs/patault.jpeg" height="270px" alt="portrait" />
        </div>
    </div>

    {% block body %} {% endblock %}

</body>

</html>
