<!DOCTYPE html>

<html lang="fr">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="keywords"
        content="Paul Patault, Patault, PhD, computer science, doctorat, informatique, méthodes formelles">
    <link rel="stylesheet" type="text/css" href="./css/style.css?version=3" title="Normal">
    <link rel="Shortcut Icon" href="imgs/let.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <title>Paul Patault</title>
    <meta name="description" content="Étudiant en M2 MPRI et magistère informatique">
</head>

<body>
    <div class="header columns">
        <div class="column">
            <h1>Paul PATAULT</h1>
            <p class="note">Doctorant en informatique au <a href="https://lmf-lab.fr">Laboratoire Méthodes Formelles</a>
                dans l'équipe <b>Preuve de Programmes</b>.</p>
            <hr />
            <p class="note en">PhD Student in computer science at <a href="https://lmf-lab.fr/?lang=en">Formal methods
                    lab</a> in the Proof of Programs team.</p>
        </div>
        <div class="column"> </div>
        <div class="column">
            <img src="imgs/patault.jpeg" height="270px" alt="portrait" />
        </div>
    </div>

    {% block body %} {% endblock %}

</body>

</html>
